@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(
      1200px circle at 10% 10%,
      #E8F3EF 0%,
      transparent 40%
    ),
    radial-gradient(
      1000px circle at 90% 20%,
      #F9F0D7 0%,
      transparent 45%
    ),
    #F8F7F4;
  color: #3F4F4B;
}
